body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  background-color: #00000000;
  z-index: 1000;
}

.navbar-ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar-li {
  display: inline-block;
  margin-right: 20px;
}

label[for="toggle-unicode"] {
  display: flex;
  gap: 0.5rem;
  width: max-content;
}

.title-box {
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
}

.title {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
}

.subtitle {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}

.about-title {
  padding: 20px;
  text-align: center;
}

.about-body {
  padding: 20px;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  height: 80vh;
}

.text-container {
  position: relative;
  width: 45%;
  max-height: 100vh;
  border: 1px solid #ccc;
  display: flex;
  height: 90%;
  gap: 10px;
}

.text-container hr {
  cursor: pointer;
  margin: 1rem;
}

.text-container hr:hover {
  transform: scaleY(3);
}

.minimap {
  min-width: 40px;
  background: rgba(0 0 0 / 0.02);
  position: relative;
}

.text {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 10px;
}

.highlight {
  background-color: hsl(30, 100%, 90%);
  color: black;
  cursor: pointer;
  outline: 1px solid rgba(0 0 0 / 0.5);
  opacity: 1;
}

.highlight[data-depth="2"] {
  background-color: hsl(30 100% 80%);
}

.highlight[data-depth="3"] {
  background-color: hsl(30 100% 70%);
}

.highlight[data-depth="4"] {
  background-color: hsl(30 100% 60%);
}

.highlight[data-depth="5"] {
  background-color: hsl(30 100% 50%);
}

.highlight[data-depth="6"] {
  background-color: hsl(30 100% 40%);
}

.highlight:hover {
  outline: 2px solid green;
  outline-offset: 0;
}

.highlight .tooltip {
  background: #444;
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem 1rem;
  position: fixed;
  transform: translate(1rem, 0);
  z-index: 2;
}

.uid-link {
  list-style: none;
}

.uid-link:hover {
  text-decoration: underline;
}

span.highlight[data-match-type="0"] {
  background-color: rgba(153, 153, 153, 0.477);
}

span.highlight[data-match-type="2"] {
  background-color: rgba(26, 179, 255, 0.477);
}

.title-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.column-titles {
  position: relative;
  width: 45%;
  max-height: 20px;
  padding: 1px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 26px;
  text-align: center;

  display: flex;
  justify-content: space-between;
}

@keyframes swellAnimation {
  0% {
  }
  50% {
    background-color: rgba(228, 255, 26, 0.5);
  }
  100% {
  }
}

.highlighted-swell-animation {
  animation: swellAnimation 2s ease-in-out;
}
